<header>
  <div class="navbar  navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul id="navi" class="nav navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#second">Sobre</a></li>
          <li><a href="#third">Artigos e Matérias</a></li>
          <li><a href="#fifth">Contatos</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div id="home">
  <div class="story">
    <div class="container">
      <div class="row">
        <div class="col-md-6"> 
        </div>
        <div class="col-md-6">
          <br><br><br><br><br><br><br>
          <h1>Ludmilla Machado</h1>
          <p>Psicóloga e Psicoterapeuta</p>
          <div class="row-fluid">
            <div class="span5">
             <p>CRP: 06/107.960</p>
           </div>
           <!--/span-->
         </div>
         <!--/row--> 
       </div>
       <!--/span--> 
     </div>
     <!--/row--> 
   </div>
 </div>
 <!--.story--> 
</div>
<!--#intro--> 

<!--#second-->
<div id="second">    
  <div class="container">
    <div class="story">
     <div class="row">
      <div class="col-md-7">
        <h1>Sobre</h1>
        <p>Psicóloga e Psicoterapeuta de crianças, adolescente, adultos e casais. Atendimento a pessoas em situação de perda e processo de luto. Possui Formação em Gestalt-terapia com crianças e adolescentes, Psicologia Hospitalar e Tanatologia.</p>
        <p>Especializanda em Psicologia Clínica com ênfase em Gestat-terapia pelo Instituto SEDES Sapientiae - SP. Psicoterapeuta voluntária na Clínica Psicológica do Instituto SEDES Sapientiae - SP.</p>
        <p>Realiza supervisão clínica e grupo de estudos com Dra. Karina Fukumitsu CRP: 06/46624-6.</p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div><!--.story--> 
</div>
</div>
<!--#second-->

<!--#third -->
<div id="third">
  <div class="container">
    <div class="story">
      <div class="row">
        <!-- 1 -->
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <img src="http://4.bp.blogspot.com/-P6cT3MyH4_Y/UEOJ2VzDcuI/AAAAAAAAAFY/cTP5lDi5NUg/s1600/DSC01483.JPG
              " alt="" style="height: 240px;width: 330px;">
              <h3>Workshop</h3>
              <p>"Tarefas Existenciais no Percurso Biográfico"</p>
              <!-- Modal -->
              <div class="modal fade" id="workShop1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">"Tarefas Existenciais no Percuso Biográfico"</h4>
                    </div>
                    <div class="modal-body">
                      <p>01/09/2012</p>
                      <p>Ministrado por Beatriz Helena Paranhos Cardella, Instituto de Gestalt de São Paulo.</p>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <p><a data-toggle="modal" href="#workShop1" class="btn btn-default">Ler</a></p>
            </div>
          </div>
        </div>
        <!-- 1 -->
        <!-- 2 -->
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <img src="http://2.bp.blogspot.com/-ikWZjOnXWfo/UDzrvPlBbyI/AAAAAAAAAE0/8RsXkRr58Z4/s1600/DSC01478.JPG" alt="" style="height: 240px;width: 330px;">
              <h3>Workshop</h3>
              <p>"Aqui e agora, lá e então"&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
              <!-- Modal -->
              <div class="modal fade" id="workShop2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">"Aqui e agora, lá e então"</h4>
                    </div>
                    <div class="modal-body">
                      <p>25/08/2012</p>
                      <p>Atividade ímpar na Pós-graduação em Gestalt-terapia do Instituto Sedes Sapientiae.</p>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <p><a data-toggle="modal" href="#workShop2" class="btn btn-default">Ler</a></p>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <!-- 3 -->
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/543888_650230488328922_1012988617_n.jpg" alt="" style="height: 240px;width: 330px;">
              <h3>Curso</h3>
              <p>"Compreensão Diagnóstica em Gestalt-terapia"</p>
              <!-- Modal -->
              <div class="modal fade" id="workShop3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">"Compreensão Diagnóstica em Gestalt-terapia"</h4>
                    </div>
                    <div class="modal-body">
                      <p>17/08/2013</p>
                      <p>Ministrado por Ênio Brito Pinto, Instituto de Gestalt de São Paulo.</p>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <p><a data-toggle="modal" href="#workShop3" class="btn btn-default">Ler</a></p>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <!-- 4 -->
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn1/1186689_660976697254301_1318186135_n.jpg" alt="" style="height: 240px;width: 330px;">
              <h3>Workshop</h3>
              <p>"Criando as pessoas do amanhã."</p>
              <!-- Modal -->
              <div class="modal fade" id="workShop4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">"Criando as pessoas do amanhã."</h4>
                    </div>
                    <div class="modal-body">
                      <p>16/05/2013</p>
                      <p>A Gestalt-terapia como liderança sócio-cultural, por Maureen O'Hara no Instituto SEDES Sapientiae.</p>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <p><a data-toggle="modal" href="#workShop4" class="btn btn-default">Ler</a></p>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <!-- 5 -->
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/1234200_660976207254350_1731074293_n.jpg" alt="" style="height: 240px;width: 330px;">
              <h3>Workshop</h3>
              <p>"Quando tudo estiver muito difícil, volte a ser semente."</p>
              <!-- Modal -->
              <div class="modal fade" id="workShop5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">"Quando tudo estiver muito difícil, volte a ser semente."</h4>
                    </div>
                    <div class="modal-body">
                      <p>26/03/2012</p>
                      <p>Ministrado por Fátima Martucelli, Instituto SEDES Sapientiae.</p>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <p><a data-toggle="modal" href="#workShop5" class="btn btn-default">Ler</a></p>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <!-- 6 -->
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/423192_375682329117074_516315086_n.jpg" alt="" style="height: 240px;width: 330px;">
              <h3>Pós-Graduação</h3>
              <p>"Aula inicial da pós-graduação em Gestalt-terapia"</p>
              <!-- Modal -->
              <div class="modal fade" id="workShop6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">"Aula inicial da pós-graduação em Gestalt-terapia"</h4>
                    </div>
                    <div class="modal-body">
                      <p>03/03/2012</p>
                      <p>Instituto SEDES Sapientiae.</p>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <p><a data-toggle="modal" href="#workShop6" class="btn btn-default">Ler</a></p>
            </div>
          </div>
        </div>
        <!-- 6 -->
      </div>
    </div>
  </div>
</div>
<!--#third -->

<!--#fifth-->
<div id="fifth">
	<div class="container">
   <div class="story">
     <div class="row">
      <div class="col-md-6">
        <h1>Contatos</h1>
        <p>
          <strong>FIXO: </strong>(11) 2759-5442<br>
          <strong>VIVO: </strong>(11) 97333-9620<br>
          <strong>TIM: </strong>(11) 95390-5556<br>
          <strong>Email: </strong>ludmillapsicologia@yahoo.com.br<br>
          <br>
          <p>
            <strong>Atendimento psicoterápico em:</strong><br>
            <br>
            SANTO ANDRÉ:<br>
            (Av. Dom Pedro II)<br>
            <br>
            SÃO PAULO:<br>  
            (Próximo ao Metrô Paraíso)<br>  
            (Próximo ao Metrô Sumaré) 
          </p>
          <p>Ligue e faça seu agendamento!</p>
        </p>
      </div> <!-- /span --> 
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
</div>
<!--#fifth-->


<!-- Le JS --> 
<script>
$(document).ready(function(){
  $('#navi').localScroll(800);
  RepositionNav();
  $(window).resize(function(){
    RepositionNav();
  });	
  $('#intro').parallax("50%", 0, 0.1, true);
  $('#second').parallax("50%", 0, 0.1, true);
  $('.bg').parallax("5%", 3000, 0.8, true);
  $('.bg2').parallax("30%", 3500, 0.8, true);
  $('#third').parallax("50%", 0, 0.1, true);
  $('#fourth').parallax("50%", 0, 0.1, true);
})
$('#navbar').scrollspy();
</script>

<script>
$(".collapse").collapse()
</script>


<script>
$(document).ready(function() {
  $('#page').fadeTo(1500, 1);
});
</script>
