<header>
  <div class="navbar  navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul id="navi" class="nav navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#second">Sobre</a></li>
          <li><a href="#third">Artigos e Matérias</a></li>
          <li><a href="#fifth">Contatos</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div id="home">
  <div class="story">
    <div class="container">
      <div class="row">
        <div class="col-md-6"> 
        </div>
        <div class="col-md-6">
          <br><br><br><br><br><br><br>
          <h1>Ludmilla Machado</h1>
          <p>Psicóloga e Psicoterapeuta</p>
          <div class="row-fluid">
            <div class="span5">
             <p>CRP: 06/107.960</p>
           </div>
           <!--/span-->
         </div>
         <!--/row--> 
       </div>
       <!--/span--> 
     </div>
     <!--/row--> 
   </div>
 </div>
 <!--.story--> 
</div>
<!--#intro--> 

<!--#second-->
<div id="second">    
  <div class="container">
    <div class="story">
     <div class="row">
      <div class="col-md-7">
        <h1>Sobre</h1>
        <p>Psicóloga e Psicoterapeuta de crianças, adolescente, adultos e casais. Atendimento a pessoas em situação de perda e processo de luto. Possui Formação em Gestalt-terapia com crianças e adolescentes, Psicologia Hospitalar e Tanatologia.</p>
        <p>Especializanda em Psicologia Clínica com ênfase em Gestat-terapia pelo Instituto SEDES Sapientiae - SP. Psicoterapeuta voluntária na Clínica Psicológica do Instituto SEDES Sapientiae - SP.</p>
        <p>Realiza supervião clínica e grupo de estudos com Dra. Karina Fukumitsu CRP: 06/46624-6.</p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div><!--.story--> 
</div>
</div>
<!--#second-->

<!--#third -->
<div id="third">
  <div class="container">
    <div class="story">
      <div class="row">
       <!--  -->
       <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>Psicologia Infantil</h3>
            <p>Pais sofrem por não ter certeza se estão mimando os filhos ou não...</p>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Psicologia Infantil</h4>
                  </div>
                  <div class="modal-body">
                    <p>Uma mãe me perguntou na semana passada se eu achava que ela estava mimando o filho. Era a versão típica da pergunta de consultório pediátrico: com a voz cansada e cheia de dúvidas de um parto recente, ela se questionava se estava correto pegar e amamentar o bebê chorão.</p>

                    <p>Hoje em dia, muitos pais se perguntam sobre a questão do mimo. Uma resenha recente de um livro de Elizabeth Kolbert na revista "The New Yorker" comparou, desfavoravelmente, crianças norte-americanas com as autossuficientes e competentes crianças de uma tribo da Amazônia peruana. Ela discutiu a noção de, talvez, estarmos criando uma geração que não consegue ou, pelo menos, não quer amarrar os próprios sapatos.</p> 

                    <p>Uma coluna sobre criação dos filhos no "The New York Times" reconheceu que as observações de Kolbert puseram o dedo na ferida de muitos pais contemporâneos; mais recentemente, um artigo opinativo aconselhava os pais a parar de proteger os filhos de cada decepção.</p>

                    <p>Claramente, estamos vivendo outro daqueles momentos –e eles se repetem, ao longo das gerações– quando os pais se preocupam que talvez não estejam cumprindo seu papel e que a próxima geração, em consequência, corra grave perigo. Em convulsões culturais sobre o quanto as crianças são mimadas, adultos com olhar de censura lembram com carinho dos rigores de sua própria infância. Porém, muitos dos mesmos pais (e avós) que agora se preocupam integraram a geração que Spiro T. Agnew, vice-presidente de Richard Nixon entre 1969 e 1973, acusou de ter sido mimada pelo Dr. Benjamin Spock.</p>

                    <p>Na verdade, a criança cheia de privilégios e mimada demais era um personagem típico dos romances do século XIX: como governantas veteranas que presumivelmente sabiam do que falavam, as irmãs Brontë escreveram retratos poderosos de crianças mimadas mais velhas. A cultura muda, mas muitos campos de batalha permanecem os mesmos.</p>

                    <p>No consultório pediátrico de hoje em dia, os pais muitas vezes citam o mimo, como a mãe da semana passada, em referência ao sono e à alimentação dos bebês pequenos. É como se as perguntas mais desconcertantes sobre como reagir às demandas de uma criança se cristalizassem naqueles primeiros meses quando o recém-nascido chora e os pais se preocupam.</p>

                    <p>A linha pediátrica oficial –falei algo do gênero à mãe da semana passada– é que não se mima um bebê cuidando bem dele, mas nem essa resposta se revela simples. "É importante se fazer presente, ser responsivo e responsável, mas não quer dizer que se deva atender a todos os caprichos do bebê", diz a Pamela High, professora de pediatria da Universidade Brown e diretora médica da Clínica Fussy Baby, do Centro Brown para o Estudo das Crianças. "Você lhes ensina padrões, rotinas e regularidade."</p>

                    <p>Os pais podem suprir as necessidades do bebê ao mesmo tempo em que lhe dão a chance de aprender a se acalmar e dormir sem estar no colo. Num estudo aleatório sobre bebês com cólica publicado neste ano pelo grupo de High, quando os pais receberam ajuda em relação à alimentação, sono, rotina e sua própria saúde mental, os nenéns com cólica choraram menos e dormiram mais.</p>

                    <p> Conforme as crianças crescem, estabelecer limites, rotinas familiares e expectativas se torna mais complicado. Contudo, ainda é uma questão de equilibrar a gratificação imediata e lições maiores sobre a vida.</p>

                    <p>Essa também é uma área na qual ainda nos sentimos à vontade e no direito de culpar e julgar outros pais –e a nós mesmos.</p>

                    <p>Comportamentos problemáticos na infância antes atribuídos a uma criação incompetente ou destrutiva agora são compreendidos como sendo de nascença, determinados pela genética, refletindo diferenças neurológicas. Já não culpamos uma má criação pelo autismo ou pelo Transtorno do Déficit de Atenção com Hiperatividade (TDAH). Entretanto, a palavra "mimado" evoca traços e comportamentos aos quais rapidamente atribuímos a responsabilidade dos pais. Como Roald Dahl escreveu em 1964, em "A fantástica fábrica de chocolate", "uma menina não pode mimar a si mesma, não é?".</p>

                    <p>Mark Bertin, pediatra especializado em desenvolvimento e comportamento, de Pleasantville, Nova York, ligado à New York Medical School, vê uma ampla gama de crianças com problemas de comportamento, distinguindo as contribuições do sistema neurológico, do temperamento e do estilo da família.</p>

                    <p>Embora o estilo de educação seja difícil de estudar, ele cita um acervo de pesquisa que, de forma crescente, sugere que a criança se beneficia com estratégias para a formação do autocontrole e da capacidade de recuperação emocional.</p> 

                    <p>"Estamos falando de crianças educadas sem limites. Todos nós queremos que nossos filhos sejam felizes o tempo todo, mas existem capacidades que são aprendidas quando se cresce com limites e a oportunidade de vivenciar a frustração."</p> 

                    <p>Os desafios de falar não e de estabelecer limites para os pais de crianças pequenas costumam girar em torno de comida, sono e acesso à mídia. "Ao estabelecer limites, nós lhes estamos ensinando quais são nossos valores e a forma pela qual pensamos que podem ter uma vida mais produtiva e feliz", diz Pamela High.</p> 

                    <p>Com outras crianças, entramos na questão de possuir coisas. "Quando penso em mimar, estamos falando em atenção e em coisas", afirma High. "Não creio ser possível mimar com excesso de atenção ao que seus filhos estão fazendo, pensando ou sofrendo, mas creio que, às vezes, é necessário ser cuidadoso em relação às coisas."</p>

                    <p>Não é preciso ser rico para encher uma criança de coisas. E oferecer artigos que substituam a atenção dos pais é particularmente problemático. A criança com um televisor enorme no quarto e acesso irrestrito a todos os tipos de telas é muito mimada ou muito negligenciada?</p>

                    <p>Não sei dizer se as crianças de hoje em dia são mais mimadas ou se mais crianças são mimadas. Existem diferenças reais na criação ao longo do tempo, algumas refletindo as trajetórias maiores de abundância e tecnologia presentes na cultura. Porém, também existem os períodos recorrentes de autoanálise e autocrítica que refletem o envolvimento adulto com a paternidade ou a maternidade. Seja qual for a geração, responder aos desejos e necessidades das crianças enquanto tentamos lhes ensinar lições que irão lhes robustecer a personalidade é uma missão complicada. Às vezes, independentemente do que façamos, metemos os pés pelas mãos.</p>

                    Fonte Uol

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <p><a data-toggle="modal" href="#myModal" class="btn btn-default">Ler</a></p>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
</div>
<!--#third -->

<!--#fifth-->
<div id="fifth">
	<div class="container">
   <div class="story">
     <div class="row">
      <div class="col-md-6">
        <h1>Contatos</h1>
        <p>
          <strong>FIXO: </strong>(11) 2759-5442<br>
          <strong>VIVO: </strong>(11) 97333-9620<br>
          <strong>TIM: </strong>(11) 95390-5556<br>
          <strong>Email: </strong>ludmillapsicologia@yahoo.com.br<br>
          <br>
          <p>
            <strong>Atendimento psicoterápico em:</strong><br>
            <br>
            SANTO ANDRÉ:<br>
            (Av. Dom Pedro II)<br>
            <br>
            SÃO PAULO:<br>  
            (Próximo ao Metrô Paraíso)<br>  
            (Próximo ao Metrô Sumaré) 
          </p>
          <p>Ligue e faça seu agendamento!</p>
        </p>
      </div> <!-- /span --> 
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
</div>
<!--#fifth-->


<!-- Le JS --> 
<script>
$(document).ready(function(){
  $('#navi').localScroll(800);
  RepositionNav();
  $(window).resize(function(){
    RepositionNav();
  });	
  $('#intro').parallax("50%", 0, 0.1, true);
  $('#second').parallax("50%", 0, 0.1, true);
  $('.bg').parallax("5%", 3000, 0.8, true);
  $('.bg2').parallax("30%", 3500, 0.8, true);
  $('#third').parallax("50%", 0, 0.1, true);
  $('#fourth').parallax("50%", 0, 0.1, true);
})
$('#navbar').scrollspy();
</script>

<script>
$(".collapse").collapse()
</script>


<script>
$(document).ready(function() {
  $('#page').fadeTo(1500, 1);
});
</script>
